extends layout.pug 

block content     
    section#content 
        table(style='width:80%', border='1')
                tr
                    th First Name
                    th Last Name
                    th Age
                tr
                    td John
                    td Adam
                    td 25
                tr
                    td Abrahim
                    td rahul
                    td 27
                tr
                    td Wick
                    td john
                    td 80
                tr
                    td Wick
                    td john
                    td 80
                tr
                    td Wick
                    td john
                    td 80
